@page "/heleleComponent"

<h3>heleleComponent</h3>

@code {

}


<PageTitle>Helele Component</PageTitle>

<h1>Helele, world!</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <Counter />
        </div>
        <div class="col">
            <Counter />
        </div>
        <div class="col">
            <Counter />
        </div>
    </div>
</div>